<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="3.1.0" manuallyInstalled="true" />
  <package id="DocumentFormat.OpenXml.Framework" version="3.1.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="System.IO.Packaging" version="8.0.0" />
</packages>